@model IEnumerable<CetTodoWeb.Models.Category>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="Index2" asp-route-categoryId="@item.Id" asp-route-cetUserId="@item.CetUserId" asp-route-cetUser="@item.CetUser">@item.Name</a>
    </li>
}
